body {
    background-image: url("https://picsum.photos/id/411/1000/1000");
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment:fixed;
    background-size:cover;
    font-size 22px;
    font-family:cursive;
    margin:0px;
}

#header, .nav > #hero, #cta 

#header {
    background-color:#000011;
    color:#73ff7B;
    height:30px;
    padding-right: 20px;

}

.logo {
    float:left;
}

.nav > a {
    color:white;
    text-decoration:underline;
}

#hero {
    margin-top: 10%;
    margin-bottom:10%;
    color:white;

}

#cta {
    background-color:#6700bc;
    color:white;
    text-decoration:dotted;
    float-right:;
}

.button {
    padding:10px 20px 10px 20px;
}

#cta:hover{
    background-color: #6700bc;
    color:#73ff7B
}

a {
    text-decoration: underline;
}

#services {
    background-color: #73ff7B;

flex-direction: row;
}
justify-content:space-around;

.card {
    background-color: white;
    width:20%;
    padding:10px 20px 10px 20px;
}